<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Description:</strong>
  <%= @character.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @character.active %>
</p>

<%= link_to 'Edit', edit_user_character_path(@user, @character), :class => 'btn btn-warning btn-xs active' %> |
<%= link_to 'Back', user_characters_path(@user), :class => 'btn btn-success btn-xs active' %>
